@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;

    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgb(40, 36, 35);
}

#header{
    /* height: min-content; */
    /* min-height: 10vh; */
    min-height: 20vh;

    display: grid;
    grid-template-columns: 1fr 11fr;
    justify-items: end;
    align-items: center;

    text-align: end;
    /* padding: 2.4% 0; */

    background-color: rgb(40, 36, 35);
    color: rgb(255, 250, 241);

    position: sticky;
    top: 0;

    z-index: 1;
}

#header > img{
    width: 3.3em;
    padding-left: 50%;
}

#header > div{
    /* padding-top: 0.7%; */
    padding-right: 5%;
    line-height: 120%;
}

#header > div > span{
    font-family: Arial, Helvetica, sans-serif;
}


#div-1{
    height: 80vh;

    background: url('../img/lera-header.JPEG') no-repeat;
    background-position: center;
    background-size: 100%;
    color: rgb(255, 250, 241);


    display: grid;
    grid-template-columns: 1fr 4fr 6fr 1fr;
}

#div-1 > .main{
    align-self: center;
    grid-column: 2;
}

#div-1 > .main > h1{
    padding-bottom: 2%;
}


@media(max-width:920px){
    #header {
        grid-template-columns: 1fr 5fr;
    }

    #header > .main{
        padding-left: 3%;
    }

    #header > img{
        padding-left: 20%;
    }

    #div-1{
        background-position: 70% top;
        background-size: auto;
    }
}


#div-2{
    /* background-color: rgb(37,29,18); */
    background-color: rgb(40, 36, 35);
    color: #dbd8ce;
    /* background-color: #371f1c;
    color: rgb(255, 250, 241); */

    display: grid;
    grid-template-columns: 1fr 4fr 6fr 1fr;

    padding: 5% 0;
}

#div-2 > .img-div{
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin: 10% 5% 10% 0; */
    gap: 5%;
}

#div-2 > .img-div > img{
    /* margin-right: 5%; */
    width: 100%;
    height: auto;
    border-radius: 1em;
}

#div-2 > .main{
    /* margin-top: 10%;
    margin-bottom: 10%; */
    padding: 5%;
}

#div-2 > .main > h1{
    padding-bottom: 2%;
}

@media(max-width:920px){
    #div-2{
        grid-template-columns: 1fr;
    }

    #div-2 > .img-div {
        grid-column: 1;
        padding: 7% 5% 5%;
        justify-content: center;
        align-items: center;
    }

    #div-2 > .main > h1{
        padding-bottom: 5%;
    }


}


#div-3{
    /* height: 50vh; */
    /* background-color: #785840; */
    /* background-color: #5a3d30; */
    /* background-color: #49423d; */
    /* background-color: #483c32; */

    background-color: rgb(78,58,44);
    /* background-color: rgb(94,70,53); */

    /* background-color: #4c3c30; */

    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 2fr 1fr 2fr 0.5fr;
    column-gap: 2%;
    align-items: start;
    padding: 5% 0;
}

#div-3 > h1{
    grid-column: 1/8;
    text-align: center;
    padding: 5% 0;

    /* color: rgb(40, 36, 35); */
    color: #dbd8ce;
    /* text-decoration: underline; */
}

#div-3 > div:nth-of-type(1){
    grid-column: 2/3;
}

#div-3 > div{
    text-align: center;
    /* height: max-content; */
    /* position: relative; */
    /* background-color: red; */
}

#div-3 > div p{
    position: absolute;
    font-size: 1.5em;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    /* scale: 2; */
    /* text-align: center; */
    /* left: 10%;
    bottom: 50%; */
    color: rgb(255, 250, 241);
}

#div-3 > div h2{
    text-transform: lowercase;
    /* color: rgb(40, 36, 35); */
    color: #dbd8ce;
}


#div-3 img{
    width: 100%;
    /* -webkit-filter:grayscale(80%);
    filter: grayscale(80%); */
    border-radius: 50%;
    border: rgb(40, 36, 35) solid;
/* 
    position: static;
    display: inline-block; */

    /* filter: blur(5px); */
    /* grid-row: 2; */
    /* transform: scale(1); */
}

@media(max-width:920px){
    #div-3{
        display: block;
        padding: 10% 8%;
    }
    
    #div-3 > div{
        padding-top: 10%;
    }

}


#div-4{
    /* height: 10vh; */
    padding: 2% 30%;
}

#icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    font-size: 1.5em;
}




@media(min-width:920px){
    /* #div-3 img:hover{
        transform: scale(1.5) translateY(10%);
        transition: .5s linear;

        z-index: 0;
        cursor: zoom-in;
    } */

    #div-3{
        position: relative;
        top: 0;
        animation: showTop 1s paused;
        /* animation-duration: 5s; */
    }

    @keyframes showTop {
        from {top:30vh;}
        to {top:0;}

    }

    #div-2{
        overflow: hidden;
    }

    #div-2 h1, #div-2 p{
        position: relative;
        animation: showRight 1s paused;
    }

    @keyframes showRight {

        from {right:-100%;}       
        to {right:0;}
        
    }
}
